/public/vendor/*/
/node_modules/
/out/index.html
/out/webapp/wiconnect.js
/out/webapp/wiconnect.js.gz
/out/webapp/wiconnect.css
/out/webapp/wiconnect.css.gz
/out/webapp/index.html
/out/webapp/unauthorized.html
/out/webapp/*.map
/out/version.json
aws.json
