/public/vendor/*/
/node_modules/
/out/index.html
/out/webapp/version.json
/out/webapp/gecko-os.js
/out/webapp/gecko-os.js.gz
/out/webapp/gecko-os.css
/out/webapp/gecko-os.css.gz
/out/webapp/index.html
/out/webapp/unauthorized.html
/out/webapp/recovery.html
/out/webapp/*.map
/out/version.json
/public/views/js/*.min.*
/public/views/less/*.js
/public/views/css/
aws.json
