doctype html
html
  head
    title WiConnect Web App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="/webapp/wiconnect.css")
  body
    div.nav
      div.logo
      ul
        li.setup
          a(href='connect') Connect
        li
          a(href='network') Network
        li.setup
          a(href='console') Console
        li.setup
          a(href='system') System
        li.setup
          a(href='browser') File System
        li
          a(href='gpio') GPIO Configuration
        li
          a(href='firmware') Firmware Management
        li
          a(href='cloud') Cloud Services
    div.main
      div.connect
      div.network-settings
      div.console
      div.system
      div.browser
      div.gpio-usage
      div.firmware
      div.cloud
      div.gohackme
      div.menu
        span
        span
        span
      div.loader.initial
        div.loading
          div.loading-circle.loading-row1.loading-col1
          div.loading-circle.loading-row1.loading-col2.up
          div.loading-circle.loading-row2.loading-col2
          div.loading-circle.loading-row2.loading-col3.up
          div.loading-circle.loading-row3.loading-col1
          div.loading-circle.loading-row3.loading-col2.down
          div.loading-circle.loading-row4.loading-col1.down
    div.overlay
    script(src='/webapp/wiconnect.js')
