doctype html
html
  head
    //-
      * ZentriOS Web App, ZentriOS JS API Library & ZentriOS JS Build System
      *
      * Copyright (C) 2015, Sensors.com, Inc.
      * All Rights Reserved.
      *
      * The ZentriOS Web App, ZentriOS JavaScript API and ZentriOS JS build system
      * are provided free of charge by Sensors.com. The combined source code, and
      * all derivatives, are licensed by Sensors.com SOLELY for use with devices
      * manufactured by ACKme Networks, or approved by Sensors.com.
      *
      * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS AND ANY EXPRESS OR IMPLIED
      * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
      * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
      * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
      * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
      * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
      * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
      * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
      * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
      * OF SUCH DAMAGE.
    title ZentriOS Web App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
  body
    div.nav
      a.wlan(href="//zentri.com", data-bypass, target="_blank")
        div.logo
      ul
    div.main
      div.menu
        span
        span
        span
      div.loader.initial
        div.loading
          div.loading-circle.loading-row1.loading-col1
          div.loading-circle.loading-row1.loading-col2
          div.loading-circle.loading-row1.loading-col3
          div.loading-circle.loading-row2.loading-col1
          div.loading-circle.loading-row2.loading-col2
          div.loading-circle.loading-row2.loading-col3
          div.loading-circle.loading-row3.loading-col1
          div.loading-circle.loading-row3.loading-col2
          div.loading-circle.loading-row3.loading-col3
    div.overlay
    script(type='text/javascript')
      include js/index.min.js

