html
  head
    title WiConnect Web App Recovery
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    style
      include css/recovery.css
  body
    div.recovery
      h2 Web App Recovery
      div.setup.hidden
        h4 SSID
        input(name="ssid")
        h4 Password
        input(name="password")
        button#save(onclick='this.className += " hidden";saveNetwork();') save
      h4 Output
      code#output
      div.wlan.hidden
        button(onclick='this.className += " hidden";recover();') Recover
    script(type='text/javascript')
      include js/recovery.min.js
