doctype html
html
  head
    title WiConnect Web App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    style.
      body {
        font-family: monospace;
        background: #ad2327;
        height: 100vh;
      }
      div {
        position: relative;
        top: 24vh;
        background: #fff;
        max-width: 720px;
        margin: auto;
        padding: 16px 32px;
        box-shadow: 1px 2px 6px #000;
      }
  body
    div
      h2 Authorization Required
      p A valid username/password is required to access the HTTP server on this device.
