@import "mixins.less";

#system-modal {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(125,125,125,0.5);

  .modal {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: auto;
    margin: 0 auto;
    width: 66%;
    background: none;
    .transform(translateY(-50%));

    .content {

      h2 {
        text-align: center;
      }
    }
  }
}
